{%extends 'base.html'%}
{% block content %}
<div class="container">

    <!-- Looping through news   -->
    {% for gallery_item in images %}
  
      <div class="row image-gallery">
  
        <a href="#details{{gallery_item.id}}" class="modal-trigger">
          <img src="{{gallery_item.image.url}}" class="responsive-img" alt="Image">
        </a>
        <div class="modal" id='details{{gallery_item.id}}'>
          <img src="{{gallery_item.image.url}}" class="img-responsive" alt="Image">
          <p><strong>Name: </strong>{{gallery_item.image_name}}</p>
          <p><strong>Description: </strong>{{gallery_item.image_description}}</p>
          <p><strong>Location: </strong>{{gallery_item.location}}</p>
          <p><strong>Category: </strong> {{gallery_item.category}} </p>
          <p><strong>Posted: </strong> {{gallery_item.pub_date|timesince}} <strong>by: {{gallery_item.uploader.first_name}}</strong> </p>
          <div class="modal-footer">
            <a href="#" class="modal-close btn success">Close window</a>
        </div>
      </div>
        
  
    </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No Images Items</h2>
    </div>
    {% endfor %}
  </div>
  
{% endblock %}