

<div class="sidenav">
    <a class="nav-link text-white" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
    <form class="navbar-form" role="search" action="{% url 'search_results' %}" METHOD="GET">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Item" name="image">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">Go
                </button>
            </div>
        </div>

    </form>


  </div>
  